<form action="/add/expense" method="post">
  <label for="expense_name">Expense Name:</label>
  <input type="text" id="expense_name" name="expense_name"><br><br>
  <label for="expense_amount">Expense Amount in USD with cents (eg. 2.45):</label>
  <input type="text" id="expense_amount" name="expense_amount"><br><br>
  <button type="submit"><strong>Spend your hard-earned money</strong></button>
</form>